.menu-button__open {
  display: none;
}

@media all and (max-width: 850px) {
  .menu-button__open {
    display: flex;
    background-image: url(../../../assets/img/open-btn.svg);
    width: 30px;
    height: 25px;
    right: 0%;
    margin-left: auto;
    position: relative;
    align-items: center;
  }

  .menu-button__close {
    background-image: url(../../../assets/img/close-btn.svg);
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
  }

  .user-menu {
    padding: 0 20px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color-green);
    z-index: 1;
  }

  .menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-logo {
    width: 100px;
    height: 100px;
  }

  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-nav__link {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: var(--letter-spacing);
    text-decoration: none;
    margin-bottom: 26px;
  }

  .menu__not-signed {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__sign-up {
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: var(--letter-spacing);
    color: #fff;
    font-weight: 300;
    opacity: 0.4;
  }

  .menu__sign-in {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: var(--main-color-light-green);
    width: 90%;
    padding: 15px;
    text-align: center;
  }

  .menu__user-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu__user-avatar {
    width: 64px;
    height: 64px;
    margin: 10px;
  }

  .menu__username {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.08rem;
    
  }

  .menu__logout {
    border: none;
    font-weight: 300;
    font-size: 16px;
    background: transparent;
    opacity: 0.6;
    & a {
      text-decoration: none;
      color: #fff;
    }
  }
}

