.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 60px;
  min-height: calc(100vh - 314px);
}

.error__info {
  text-align: center;
  margin: 50px 0px;
  font-size: 30px;
  line-height: 70px;
}

.error__info span {
  opacity: 0.3;
}

.error__info a {
  text-decoration: none;
  color: var(--main-color-blue);
}

.error__info a:hover {
  text-decoration: underline;
}

.error__code {
  color: var(--main-color-blue);
  display: flex;
  font-family: "Ferry";
  font-size: 150px;
}


@media all and (max-width: 550px) {
  .error__code {
    font-size: 100px;
  }

  .error__info {
    font-size: 20px;
    line-height: 30px;
  }
}
