
.footer {
  background-color: var(--main-color-green);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  max-width: 100%; 
}

.footer-info {
  color: #fff;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.01em;
}

.footer-info a {
  text-decoration: none;
  color: #fff; 
}

@media all and (max-width: 550px) {
  .footer {
    padding: 10px;
  }

  .footer-info p {
    text-align: right;
  }
}

